* {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f7f1e3;
}

a {
  border: none;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 12px 36px;
  font-size: 18px;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #0162c8, #55e7fc);
}

span {
  position: absolute;
  background: #fff;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
