* {
  margin: 0;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  list-style: none;
}

body {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f7f1e3;
}

button {
  anchor-name: --sangjin-lee;
}

#tooltip {
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px 2px grey;
  background-color: rebeccapurple;

  position: absolute;
  position-anchor: --sangjin-lee;
  top: anchor(bottom);
  left: anchor(right);
}
